<div class="footer-container">
  <div class="icon-container">
    <ul class="icon-list">
      <li class="icon-list-2">
        <a class="facebook" href="https://www.facebook.com/teamOPAWL">
          <div class="media-icons">
              <i class="fab fa-facebook-f"></i>
          </div>
        </a>
      </li>
      <li class="icon-list-2">
        <a class="facebook" href="/">
          <div class="media-icons">
              <i class="fab fa-twitter"></i>
          </div>
        </a>
      </li>
      <li class="icon-list-2">
        <a class="facebook" href="/">
          <div class="media-icons">
              <i class="fab fa-tumblr"></i>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="cody-container">
    <p class="cody-photo">
      <a target="_blank" href="https://www.flickr.com/photos/28631117@N08/3512572975/in/photolist-6moRz2-q7yYNT-g7PeeE-pQ9Cr8-8Tj6Su-g7Pjgy-ddp5to-qUZrFN-fr9Yk8-4KUuo8-5Je7G5-95cqTG-frp2zf-b8Nsa2-n1V3aG-dTdgtu-pQcXbK-5J9UJT-96ouu1-9ox1PH-cuoTYU-mkNn7t-fx4FBp-r26p69-5J8YZZ-96krQ8-pzoKsu-b8Nt2R-qmE2oD-fG3BQ3-5XuzYn-WbRkW-afgz2C-dT7ETD-ijwx4c-qDikFm-eZmPfj-aySP4T-bVSFVc-zXPNVW-bWWRVB-n1TmTX-reLAmg-b8NsRB-dH4ES3-5JdbnE-5Jdbg7-aEA7S8-fPH2uZ-BXDdFt">Photo</a>
      <a target="_blank" href="https://www.flickr.com/photos/28631117@N08/"> by Cody Ellis</a>
      <a target="_blank" href="https://creativecommons.org/licenses/by/2.0/"> | CC BY</a>
    </p>
  </div>
</div>
