<!DOCTYPE HTML>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/images/favicon.png">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body background="{{ site.baseurl }}/assets/images/background.jpg" />

{% include navigation.html %}

{% capture postContent %}
<div class="news-container">
  <h1>{{ page.title }}</h1>
  <p>
    <em>{{ page.date | date_to_long_string: "ordinal", "US" }} &mdash; {{ page.location }}</em>
    <hr class="post-break">
  </p>

{{ content }}
</div>

{% include footer.html %}

</body>
</html>
{% endcapture %}

{% assign flyer = page.flyer-file-name %}
{% if flyer != 'x' %}
<div class="flyer-container">
  <img src="{{ site.baseurl }}/assets/images/flyers/{{ page.flyer-file-name }}" alt="{{ page.flyer-desc }}" width="300px" height="500px" />
</div>

{{ postContent }}

{% elsif flyer contains 'x' %}
{{ postContent }}
{% endif %}
